name: EuServ Auto Renew Official

on:
  schedule:
    - cron: '30 2 12-18 * *'
  workflow_dispatch:

jobs:
  renew:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install playwright imaplib2 playwright-stealth
          playwright install chromium

      - name: Run Renew Script
        env:
          EUSERV_EMAIL: ${{ secrets.EUSERV_EMAIL }}
          EUSERV_PASSWORD: ${{ secrets.EUSERV_PASSWORD }}
          GMAIL_APP_PASSWORD: ${{ secrets.GMAIL_APP_PASSWORD }}
        run: python renew.py

      - name: Upload Debug Screenshot
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: debug-screenshots
          path: "*.png"
          retention-days: 5
